a > i{
    padding-right:10px;
}
.btn-primary.override-bs {
    background-color:#0d6efd;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    font-weight: bolder;
}
.btn-primary.override {
    display: inline-flex;
    background-color:#0d6efd;
    margin-top: 5px;
    width: 80px;
    border-radius: 20px;
    font-weight: bolder;
    margin-left: -25px;
}
.wd-rounded{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -20px;
}
.wd-secondary{
    font-size: medium;
    color:dodgerblue;
}

.wd-span {
    margin-left:60px;
}